body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e0e5ec, #a3b1c6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(224, 229, 236, 0.8);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin-bottom: 15px;
}

.datetime {
  color: #555;
  margin-bottom: 20px;
}

.time {
  margin-bottom: 8px;
  font-size: 3.5rem;
}

.date-lunar {
  font-size: 1.2rem;
}

.search-container {
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #e0e5ec;
  box-shadow: inset 6px 6px 10px rgba(163, 177, 198, 0.6), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
  color: #555;
  font-size: 1rem;
}

.search-button {
  position: absolute;
  right: 17px;
  top: 60%;
  transform: translateY(-50%);
  background-color: #e0e5ec;
  border: none;
  padding: 11px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(163, 177, 198, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 1rem;
}

.search-engine {
  margin-top: 10px;
  color: #777;
}

.search-engine label {
  margin-right: 15px;
}

.website-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 600px;
}

.box.add-box {
  margin: 10px;
  background-color: #e0e5ec;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(163, 177, 198, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.box.add-box:hover {
  box-shadow: inset 6px 6px 10px rgba(163, 177, 198, 0.6), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
}

.box.add-box a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.box.add-box .img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.box.add-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box.add-box p {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
  padding-bottom: 10px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.modal-buttons {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

/* 桌面端样式 */
@media (min-width: 768px) {
  .box.add-box {
    width: calc((100% - 6 * 20px) / 7);
  }
}

/* 移动端样式 */
@media (max-width: 767px) {
  .box.add-box {
    width: calc((100% - 3 * 20px) / 4);
  }
}