:root {
  --bg-color: #e6e7ee;
  --text-color: #31344b;
  --shadow-dark: #b8b9be;
  --shadow-light: #ffffff;
  --primary-color: #6d5dfc;
  --secondary-color: #8abdff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e0e5ec, #a3b1c6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(224, 229, 236, 0.8);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin-bottom: 15px;
}

.datetime {
  color: #555;
  margin-bottom: 20px;
}

.time {
  margin-bottom: 8px;
  font-size: 3.5rem;
}

.date-lunar {
  font-size: 1.2rem;
}

.search-container {
  display: flex;
  width: 95%;
  max-width: 560px;
  margin: 20px auto;
  background-color: #e0e5ec;
  border-radius: 15px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.search-input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  background-color: #e0e5ec;
  color: #555;
  font-size: 0.9rem;
  box-shadow: inset 6px 6px 10px rgba(163, 177, 198, 0.6), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
  outline: none;
}

.search-button {
  padding: 15px 20px;
  border: none;
  background-color: #e0e5ec;
  box-shadow: 6px 6px 10px rgba(163, 177, 198, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;

  color: #7a6f6f;
  font-size: 1rem;
}

.search-button:hover {
  box-shadow: inset 6px 6px 10px rgba(163, 177, 198, 0.6), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
}

.search-engine {
  font-size: 0.8rem;
  margin-top: 9px;
  color: #777;
}

.search-engine label {
  margin-right: 15px;
}

.website-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 600px;
}

.box.add-box {
  margin: 10px;
  background-color: #e0e5ec;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(163, 177, 198, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.box.add-box:hover {
  box-shadow: inset 6px 6px 10px rgba(163, 177, 198, 0.6), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
}

.box.add-box a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.box.add-box .img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.box.add-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box.add-box p {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
  padding-bottom: 10px;
  text-align: center;
}

/* 固定icon尺寸的图标 */
/* .fixed-size-icon {
  width: 40px;
  height: 40px;
} */

/* 模态框拟态效果 */
/* 调整背景色和阴影颜色 */
/* 调整背景色和阴影颜色 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--bg-color);
  border-radius: 20px;
  padding: 30px;
  width: 80%;
  max-width: 400px;
  /* 调暗背景色 */
  filter: brightness(80%);
  box-shadow:
    8px 8px 16px #ccc,
    /* 淡淡的灰色阴影 */
    -8px -8px 16px #ccc,
    /* 淡淡的灰色阴影 */
    inset 2px 2px 5px #ccc,
    /* 淡淡的灰色阴影 */
    inset -2px -2px 5px #ccc;
  /* 淡淡的灰色阴影 */
  transform: translateY(0);
  transition: transform 0.3s ease;
  position: relative;
}

.modal-content:hover {
  transform: translateY(-5px);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
  font-size: 14px;
}

.modal-buttons input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  background: var(--bg-color);
  /* 调暗背景色 */
  filter: brightness(85%);
  box-shadow:
    inset 3px 3px 6px #ccc,
    /* 淡淡的灰色阴影 */
    inset -3px -3px 6px #ccc;
  /* 淡淡的灰色阴影 */
  color: var(--text-color);
  font-size: 14px;
  transition: all 0.3s ease;
}

.modal-buttons input:focus {
  outline: none;
  box-shadow:
    inset 1px 1px 3px #ccc,
    /* 淡淡的灰色阴影 */
    inset -1px -1px 3px #ccc;
  /* 淡淡的灰色阴影 */
}

.modal-buttons button {
  flex: 1;
  padding: 12px 0;
  margin: 0 5px;
  border: none;
  border-radius: 15px;
  background: var(--bg-color);
  /* 调暗背景色 */
  filter: brightness(85%);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow:
    4px 4px 8px #ccc,
    /* 淡淡的灰色阴影 */
    -4px -4px 8px #ccc;
  /* 淡淡的灰色阴影 */
  transition: all 0.2s ease;
}

.modal-buttons button:hover {
  box-shadow:
    2px 2px 4px #ccc,
    /* 淡淡的灰色阴影 */
    -2px -2px 4px #ccc;
  /* 淡淡的灰色阴影 */
}

.modal-buttons button:active {
  box-shadow:
    inset 2px 2px 4px #ccc,
    /* 淡淡的灰色阴影 */
    inset -2px -2px 4px #ccc;
  /* 淡淡的灰色阴影 */
}

.modal-buttons button:first-child {
  background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
  color: white;
}

.form-control {
  width: 80%;
  padding: 5px;
  margin-top: 5px;
}

/* 桌面端样式 */
@media (min-width: 800px) {
  .box.add-box {
    width: calc((100% - 7 * 20px) / 7);
  }
}

/* 移动端样式 */
@media (max-width: 799px) {
  .box.add-box {
    width: calc((100% - 4 * 20px) / 4);
  }
}